* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif; /* Шрифт по умолчанию */
  background-color: #f4f4f4; /* Цвет фона */
  margin: 0;
}

.app-header {
  background-color: #A7948D; /* Цвет фона заголовка */
  padding: 10px;
  height: 9.5vh;
}

.app-header nav {
  display: flex; /* Используем Flexbox для навигации */
  justify-content: space-between; /* Разделяем элементы по краям */
  align-items: center; /* Выравниваем элементы по центру по вертикали */
}

.app-header nav ul {
  list-style-type: none;
  padding: 0;
  display: flex; /* Используем Flexbox для списка */
}

.app-header nav ul li {
  margin-left: 20px; /* Отступ между элементами списка */
}

.app-header nav ul li a {
  color: white; /* Цвет ссылок */
  text-decoration: none;
}

.app-header nav ul li a:hover {
  color: #5A4C43; /* Цвет ссылок при наведении */
}

/* Стили для кнопки выхода */
.buttonLogout {
  background-color: #5A4C43;; /* Цвет фона кнопки выхода */
  color: white; /* Цвет текста кнопки выхода */
  border: none; /* Убираем границу кнопки */
  padding: 10px 15px; /* Отступы внутри кнопки */
  cursor: pointer; /* Курсор при наведении на кнопку */
}


/* Основной контейнер */
main {
  max-width: 100%; /* Максимальная ширина контента */
  height: auto;
  margin: auto; /* Центрирование контейнера */
}