@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
*, *:before, *:after {
  font-family: 'Play', sans-serif;
  box-sizing: border-box
}

body {
  font-weight: 500;
  background-color: #f4f4f4;
  margin: 0;
}

.app-header {
  background-color: #A7948D;
  padding: 10px;
  height: 9.5vh;
}

.app-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-header nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.app-header nav ul li {
  margin-left: 20px;
}

.app-header nav ul li a {
  color: white;
  text-decoration: none;
}

.app-header nav ul li a:hover {
  color: #5A4C43;
}

/* Стили для кнопки выхода */
.buttonLogout {
  font-family: 'Play', sans-serif;
  background-color: #5A4C43;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.buttonLogout:hover {
  font-weight: bold;
}

/* Основной контейнер */
main {
  max-width: 100%;
  height: auto;
  margin: auto;
}