.buttonLogout {
    background-color: #5A4C43;
    width: 10%;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.home-container {
    background-image: url('../assets/mainCats.jpg'); /* Путь к изображению */
    background-size: cover; /* Заполнение контейнера */
    background-position: center; /* Центрирование изображения */
    height: 90.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #A7948D; /* Цвет текста, чтобы он был виден на фоне */
}

h1{
    color: #5A4C43;
}
