.statistic-card{
    max-width: 80vh;
}

.dia{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: #5A4C43;
    text-align: center;
}

.date-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}